<a href="https://colab.research.google.com/github/itachi0229/EL3/blob/main/Activity_in_Module_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

KAREN MACALINO

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
filename = '/content/RailsToTrails_National Count Data_week (1).xlsx'

df = pd.read_excel(filename)

In [5]:
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [6]:
df = df.drop(columns=['Unnamed: 7'])

df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN

In [7]:
df = df.drop(columns=['Unnamed: 8'])

df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN

In [8]:
df = df.drop(columns=['Unnamed: 9'])

df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602

In [9]:
df = df.rename(columns={'Unnamed: 6': 'percent_change'})

df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602