<a href="https://colab.research.google.com/github/itachi0229/EL3/blob/main/Groupby_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

KAREN MACALINO

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data')

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data', header = None)

In [15]:
filename = '/content/CalIt2.csv'
df = pd.read_csv(filename)
df.head()

   7  07/24/05  00:00:00  0
0  9  07/24/05  00:00:00  0
1  7  07/24/05  00:30:00  1
2  9  07/24/05  00:30:00  0
3  7  07/24/05  01:00:00  0
4  9  07/24/05  01:00:00  0

In [17]:
df = df.rename(columns={'7': 'Flow_ID',

'07/24/05': 'Date',

'00:00:00': 'Time'})

df.head()

   Flow_ID      Date      Time  0
0        9  07/24/05  00:00:00  0
1        7  07/24/05  00:30:00  1
2        9  07/24/05  00:30:00  0
3        7  07/24/05  01:00:00  0
4        9  07/24/05  01:00:00  0

In [18]:
df = df.rename(columns={'7': 'Flow_ID',

'07/24/05': 'Date',

'00:00:00': 'Time',
'0' : 'Count'})

df.head()

   Flow_ID      Date      Time  Count
0        9  07/24/05  00:00:00      0
1        7  07/24/05  00:30:00      1
2        9  07/24/05  00:30:00      0
3        7  07/24/05  01:00:00      0
4        9  07/24/05  01:00:00      0

In [19]:
df.groupby(['Flow_ID', 'Date'])['Time', 'Count'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                      Count
Flow_ID Date
7       07/24/05   0.531915
        07/25/05   3.375000
        07/26/05   4.583333
        07/27/05   4.791667
        07/28/05   5.083333
...                     ...
9       11/01/05  11.958333
        11/02/05   6.520833
        11/03/05   5.000000
        11/04/05   8.000000
        11/05/05   0.083333

[210 rows x 1 columns]